[push]
    default = simple
[user]
    name = Jerry Wang
    email = jerryw@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    autocrlf = false
    eol = lf
[merge]
    tool = kdiff3NoAuto
[mergetool "kdiff3NoAuto"]
    cmd = kdiff3 --L1 \"$MERGED (Base)\" --L2 \"$MERGED (Local)\" --L3 \"$MERGED (Remote)\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" CreateBakFiles=0
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[push]
    default = simple
[alias]
    unstage = reset HEAD --
    co = checkout
    br = branch
    st = status --short --branch
    last = log -10 HEAD
    gl = log --pretty='format:%Cgreen%h%Creset %an - %s' --graph
    dc = diff --cached

    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    please = push --force-with-lease
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    ours = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[url "https://"]
    insteadOf = git://
[http]
	sslVerify = true
