polybar/scripts/__pycache__
zsh/aws-private.zsh
karabiner/.karabiner.d/log
karabiner/automatic_backups
vim/autoload/plug.vim
vim/plugged
vim/swap
vim/undo
vim/viminfo
tmux/.tmux/plugins
nvim/.netrwhist
