polybar/.config/polybar/scripts/__pycache__
config/.config/configstore
config/.config/karabiner
zsh/.zsh/aws-private.zsh
karabiner/.karabiner.d/log
vim/.vim/autoload/plug.vim
vim/.vim/plugged
vim/.vim/swap
vim/.vim/undo
vim/.vim/viminfo
tmux/.tmux/plugins
nvim/.config/nvim/.netrwhist
