# ~/.config/systemd/user/conky.service

[Unit]
Description=Conky

[Service]
Type=simple
ExecStart=/usr/bin/conky

[Install]
WantedBy=graphical.target
